[submodule "SoftwareCore"]
	path = SoftwareCore
	url = git@github.com:handsomePirate/SoftwareCore.git
[submodule "ext/SoftwareCore"]
	path = ext/SoftwareCore
	url = git@github.com:handsomePirate/SoftwareCore.git
[submodule "ext/yaml"]
	path = ext/yaml
	url = git@github.com:handsomePirate/yaml-cpp.git
[submodule "ext/VulkanMemoryHandler"]
	path = ext/VulkanMemoryHandler
	url = git@github.com:handsomePirate/VulkanMemoryHandler.git
